@font-face {
	font-family: DTM-Mono;
	src: url("font/DTM-Mono.otf") format("opentype");
}
@font-face {
	font-family: DTM-Sans;
	src: url("font/DTM-Sans.otf") format("opentype");
}

/* For mobile phones: */
[class*="col-"] {
  //width: 100%;
  float: left;
  border: 1px solid rgba(255,0,0,0);
}

 @media only screen and (max-width: 600px) {
 .col-ss-0 {
    display: none;
  }
}

  .col-ss-1 {width: 8.33%;}
  .col-ss-2 {width: 16.66%;}
  .col-ss-3 {width: 25%;}
  .col-ss-4 {width: 33.33%;}
  .col-ss-5 {width: 41.66%;}
  .col-ss-6 {width: 50%;}
  .col-ss-7 {width: 58.33%;}
  .col-ss-8 {width: 66.66%;}
  .col-ss-9 {width: 75%;}
  .col-ss-10 {width: 83.33%;}
  .col-ss-11 {width: 91.66%;}
  .col-ss-12 {width: 100%;}


  .line {width: 100%;float: left;border: 1px solid rgba(255,0,0,0);}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



:root {
    /* --theme-background: url("img/backgroundDark.png"); */
    --theme-background: url("img/backgroundLight.png");
}

[data-theme="light"] {
    --theme-background: url("img/backgroundLight.png");;
}

* {
  box-sizing: border-box;
}

html { font-size:100%; font-family: DTM-Mono;}
/* body {font-size:1rem;}  */
/* @media (min-width:600px) { body {font-size:1.2rem;} }  */
/* @media (min-width:768px) { body {font-size:1.4rem;} }  */

body {font-size:1.5vw;}
input {font-size:1vw; font-family: DTM-Mono;}
input::placeholder {font-size:1vw; font-family: DTM-Mono;}

body {
	//background-image: url("https://picsum.photos/500?blur=10");
	background-image: var(--theme-background);
	//background-color: #1abc9c;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
	background-size: 100% 100%;
	//overflow: auto;
}

img {
  width: 100%;
  height: auto;
}


.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center
}


.title-div {
	background-image: url("img/titleBox.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 100% auto;
}

.panel {
	border: 10px solid transparent;
	border-image: url("img/titleBox.png") round;
	border-image-slice: 30 fill;
}

.search-bar::placeholder {
	color: #555555
}

.content-div {
	color: #FFFFFF
}



input[type="checkbox"] {
	display:none;
}

.checker {
	display: inline-block;
	width: 2ch;
	height: 2ch;
	cursor: pointer;
	/* background-image: url(img/checkbox.png);
	background-size: cover; */
}

input[type="checkbox"]:checked + span {
	display: inline-block;
	width: 2ch;
	height: 2ch;
	cursor: pointer;
	background-image: url(img/checkbox-checked.png);
	background-size: cover;
}


.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropup-show {display:block;}










a{
	/* font-family: DTM-Sans; */
	/* font-size: 24px; */
	font-size: 120%;
	//font-style: normal;
	text-decoration: none;
	color: rgba(0,0,0,1);
	margin-left: 4px;
	margin-right: 4px;
}

a:link{

}

a:visited{

}

a:hover{
	//font-size: 44px;
	color: rgba(0,255,255,1);
}

a:active{
	//color: rgba(255,0,0,1);
}














p { margin:0 }

.row::after {
  content: "";
  clear: both;
  display: table;
}
